*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/marawanxmamdouh/carrent/ui/
/app/src/main/res/layout/fragment_gallery.xml
/app/src/main/res/layout/fragment_home.xml
/app/src/main/res/layout/fragment_slideshow.xml
/app/src/main/res/menu/navigation_drawer.xml
